<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf" th:unless=${isNew}><strong class="am-text-primary am-text-lg">修改设备资料</strong> /
            <small>Edit device information</small>
        </div>
        <div class="am-fl am-cf" th:if=${isNew}><strong class="am-text-primary am-text-lg">新设备</strong> /
            <small>Create device</small>
        </div>
    </div>

    <hr/>

    <div class="am-g" id="device-container" v-cloak>
        <div class="am-u-sm-12 am-u-lg-10 am-u-lg-centered">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group" th:unless=${isNew}>
                    <label for="device-id" class="am-u-sm-4 am-u-md-3 am-form-label">设备ID / Device ID</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="device-id" v-model="device.id" disabled>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="device-name" class="am-u-sm-4 am-u-md-3 am-form-label">名称 / Name</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="device-name" v-model="device.name">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="device-manufacture" class="am-u-sm-4 am-u-md-3 am-form-label">制造商 / Manufacture</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="device-manufacture" v-model="device.manufacture">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="device-channel" class="am-u-sm-4 am-u-md-3 am-form-label">采集通道 / Channel</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="device-channel" v-model="device.channel">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="device-device-name" class="am-u-sm-4 am-u-md-3 am-form-label">采集名称 / Device name</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="device-device-name" v-model="device.deviceName">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="line-selected" class="am-u-sm-4 am-u-md-3 am-form-label">所属产线 / Line</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <select id="line-selected" data-am-selected="{btnWidth: '100%',maxHeight: 150}"
                                v-model="selected">
                            <option v-for="line in lines" v-bind:value="line.id">{{line.name}}
                                ({{line.manufacture}})
                            </option>
                        </select>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-8 am-u-sm-push-4 am-u-md-9 am-u-md-push-3">
                        <button type="button" class="am-btn am-btn-primary" v-on:click="submit">保存修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var $selected = $('#line-selected');
        $selected.on('change', function () {
            deviceApp.selected = $(this).val();
        })
    });
    var deviceApp = new Vue({
        el: "#device-container",
        data: {
            device: /*[[${device}]]*/{},
            lines: [],
            selected: "",
        },
        created: function () {
            $.ajax({
                type: "POST",
                url: "/api/line/findAll",
                success: function (data) {
                    deviceApp.lines = data.result;
                    if (deviceApp.device.line == null) {
                        deviceApp.selected = data.result[0].id;
                    } else {
                        deviceApp.selected = deviceApp.device.line.id;
                    }
                }
            });
        },
        methods: {
            submit: function () {
                $.ajax({
                    method: "POST",
                    url: "/api/device/edit",
                    data: {
                        id: deviceApp.device.id,
                        name: deviceApp.device.name,
                        manufacture: deviceApp.device.manufacture,
                        channel: deviceApp.device.channel,
                        deviceName: deviceApp.device.deviceName,
                        lineId: deviceApp.selected,
                    },
                    success: function (data) {
                        modalApp.showAlert(data.result);
                    },
                });
            }
        }
    });
</script>
