<div class="admin-content-body">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf" th:unless=${isNew}><strong class="am-text-primary am-text-lg">修改产线资料</strong> /
            <small>Edit line information</small>
        </div>
        <div class="am-fl am-cf" th:if=${isNew}><strong class="am-text-primary am-text-lg">新产线</strong> /
            <small>Create line</small>
        </div>
    </div>

    <hr/>

    <div class="am-g" id="line-container" v-cloak>
        <div class="am-u-sm-12 am-u-lg-10 am-u-lg-centered">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group" th:unless=${isNew}>
                    <label for="line-id" class="am-u-sm-4 am-u-md-3 am-form-label">产线ID / Line ID</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="line-id" v-model="line.id" disabled>
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="line-name" class="am-u-sm-4 am-u-md-3 am-form-label">名称 / Name</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="line-name" v-model="line.name">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="line-description" class="am-u-sm-4 am-u-md-3 am-form-label">描述 / Description</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <input type="text" id="line-description" v-model="line.description">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="district-selected" class="am-u-sm-4 am-u-md-3 am-form-label">所属产区 / District</label>
                    <div class="am-u-sm-8 am-u-md-9">
                        <select id="district-selected"data-am-selected="{btnWidth: '100%',maxHeight: 150}" v-model="selected">
                            <option v-for="district in districts" v-bind:value="district.id">{{district.name}}
                                ({{district.description}})
                            </option>
                        </select>
                    </div>
                </div>

                <div class="am-form-group">
                    <div class="am-u-sm-8 am-u-sm-push-4 am-u-md-9 am-u-md-push-3">
                        <button type="button" class="am-btn am-btn-primary" v-on:click="submit">保存修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    $(function () {
        var $selected = $('#district-selected');
        $selected.on('change',function () {
            lineApp.selected = $(this).val();
        })
    });
    var lineApp = new Vue({
        el: "#line-container",
        data: {
            line: /*[[${line}]]*/{},
            districts: [],
            selected: "",
        },
        created: function () {
            $.ajax({
                type: "POST",
                url: "/api/district/findAll",
                success: function (data) {
                    lineApp.districts = data.result;
                    if (lineApp.line.district==null) {
                        lineApp.selected = data.result[0].id;
                    } else {
                        lineApp.selected = lineApp.line.district.id;
                    }
                }
            });
        },
        methods: {
            submit: function () {
                $.ajax({
                    method: "POST",
                    url: "/api/line/edit",
                    data: {
                        id: lineApp.line.id,
                        name: lineApp.line.name,
                        description: lineApp.line.description,
                        districtId: lineApp.selected,
                    },
                    success: function (data) {
                        modalApp.showAlert(data.result);
                    }
                });
            }
        }
    });
</script>
