<div class="admin-content-body" id="app-content">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">操作日志</strong> /
            <small>Logs</small>
        </div>
    </div>

    <hr>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-id"></th>
                        <th class="table-name">操作用户</th>
                        <th class="table-event">操作内容</th>
                        <th class="table-time">操作时间</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(log , , index) in logs">
                        <td>{{(currentPage-1)*20+index+1}}</td>
                        <td>{{log.operator.name}}</td>
                        <td>{{log.event}}</td>
                        <td>{{log.operateTime}}</td>
                    </tr>

                    </tbody>
                </table>
                <ul class="am-pagination">
                    <li class="am-pagination-prev" v-bind:class="{'am-disabled':isFirstPage}" v-on:click="previous">
                        <a>&laquo; 上一页</a>
                    </li>
                    <li class="am-pagination-next" v-bind:class="{'am-disabled':isLastPage}" v-on:click="next">
                        <a>下一页 &raquo;</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var logApp = new Vue({
        el: "#app-content",
        data: {
            logs: [],
            counts: 0,
            currentPage: 1,
            isFirstPage: true,
            isLastPage: true,
        },
        created: function () {
            $.ajax({
                type: "POST",
                url: "/api/log/getByPage",
                data: {
                    pageNumber: 1,
                },
                success: function (data) {
                    if (data.status == 0) {
                        logApp.logs = data.result.logs;
                        logApp.counts = data.result.counts;
                        if (data.result.counts < 20) {
                            logApp.isLastPage = true;
                        } else {
                            logApp.isLastPage = false;
                        }
                    }

                },
            });
        },
        methods: {
            next: function () {
                if (logApp.currentPage * 20 < logApp.counts) {
                    logApp.currentPage++;
                    $.ajax({
                        type: "POST",
                        url: "/api/log/getByPage",
                        data: {
                            pageNumber: logApp.currentPage,
                        },
                        success: function (data) {
                            if (data.status == 0) {
                                logApp.logs = data.result.logs;
                                logApp.counts = data.result.counts;
                                if (data.result.counts < logApp.currentPage * 20) {
                                    logApp.isLastPage = true;
                                } else {
                                    logApp.isLastPage = false;
                                }
                                if (logApp.currentPage > 1) {
                                    logApp.isFirstPage = false;
                                } else {
                                    logApp.isFirstPage = true;
                                }
                            }
                        },
                    });
                }
            },
            previous: function () {
                if (logApp.currentPage > 1) {
                    logApp.currentPage--;
                }
                $.ajax({
                    type: "POST",
                    url: "/api/log/getByPage",
                    data: {
                        pageNumber: logApp.currentPage,
                    },
                    success: function (data) {
                        if (data.status == 0) {
                            logApp.logs = data.result.logs;
                            logApp.counts = data.result.counts;
                            if (data.result.counts < logApp.currentPage * 20) {
                                logApp.isLastPage = true;
                            } else {
                                logApp.isLastPage = false;
                            }
                            if (logApp.currentPage > 1) {
                                logApp.isFirstPage = false;
                            } else {
                                logApp.isFirstPage = true;
                            }
                        }
                    },
                });
            }
        },
    });

</script>