<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta charset="utf-8">
</head>
<body style="height: 100%; margin: 0">
<div class="row">
    <div class="col-md-12" style="background-color: #3073f8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <p><font size="4" face="arial" color="white">类型选择</font></p>
    </div>
</div>
<div class="col-md-12">
    <p>
        <font size="5">类型:
            <select id="first" onChange="change()">
                <option selected="selected">机床</option>
                <option>机器人</option>
            </select>

            设备:<select id="second">
                <option selected="selected">车铣复合中心</option>
                <option>西门子加工中心</option>
                <option>Fanuc加工中心</option>
            </select>
        </font>
        <font size="5">类型:<select style="width: 10%;">
            <option value="volvo"size="5">年</option>
            <option value="saab">月</option>
            <option value="opel">日</option>
        </select>
        </font>
        <font size="5" >时间1:
            <input style="width: 10%;" type="year" value="2018"/>
        </font>
        <font size="5">时间2:
            <input style="width: 10%;" type="year" value="2019"/>
        </font>
        <button style="width: 10%;"class="btn btn-info">查询</button>

    </p>


</div>
<div class="row">
    <div class="col-md-12" style="background-color: #3073f8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <p><font size="4" face="arial" color="white">能耗排名</font></p>
    </div>
</div>
<div id="container" style="width: 80%;height:60%;"></div>

<script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.3.0-rc.2/echarts-en.common.js"></script>
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>-->
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>-->
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>-->
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>-->
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>-->
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>-->
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RguLb9mwhG3fapR9av6hiEVhThfMKd99&callback=initialize"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>-->
<!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>-->
<script type="text/javascript">

    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    option = {
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['时间一','时间二']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['一月','二月','三月','四月','五月','六月','七月','八月','九月','十月','十一月','十二月']
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'时间一',
                type:'line',
                data:[0, 0, 0, 0, 0, 0, 0, 0, 0, 53.1, 323.6, 175.8]
            },
            {
                name:'时间二',
                type:'line',
                data:[104, 46.9, 263.5, 189.8, 166.4, 163.4, 237, 84.5, , , , ]
            }
        ]
    };
    if (option && typeof option === "object") {
        myChart.setOption(option, true);
    }

    function change()
    {
        var x = document.getElementById("first");
        var y = document.getElementById("second");
        y.options.length = 0; // 清除second下拉框的所有内容
        if(x.selectedIndex == 0)
        {
            y.options.add(new Option("车铣复合中心", "0", false, true));
            y.options.add(new Option("西门子加工中心", "1"));
            y.options.add(new Option("Fanuc加工中心", "2"));
        }

        if(x.selectedIndex == 1)
        {
            y.options.add(new Option("机器人1", "0", false, true));
            y.options.add(new Option("机器人2", "1"));
        }

    }




</script>
</body>
</html>